@use '../abstract/variables' as *;
@use '../abstract/mixins' as *;

.project-root {
  min-height: 100vh;
  width: 100%;
}
.project-container {
  @include mx(auto);
  @include py($padding-base);
  text-align: center;
}
.project-title {
  @include text-size('3xl');
  @include my($margin-xl);
  @include break-sm {
    @include text-size('5xl');
  }
  @include break-md {
    @include text-size('6xl');
  }
}
.project-card-container {
  background-color: $primary-lighter;
  @include mx($margin-base);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  height: 520px;
  @include my($margin-xl);
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}
.project-card-container {
  .project-1 {
    background-color: $accent;
  }
  .project-2 {
    background-color: $secondary;
  }
  .project-3 {
    background-color: $primary-dark;
  }
  .project-4 {
    background-color: $red-dark;
  }
  .project-5 {
    background-color: $green;
  }
  .project-6 {
    background-color: $pink;
  }
}

.break-rev {
  @include break-md {
    height: 336px;
    flex-direction: row-reverse;
  }
  @include break-lg {
    height: 445px;
  }
  .project-card-image {
    @include break-md {
      height: 100%;
      border-top-left-radius: 0px;
      border-bottom-right-radius: 10px;
    }
  }
  .project-card-detail {
    @include break-md {
      border-top-left-radius: 10px;
      border-bottom-right-radius: 0px;
      border-bottom-left-radius: 10px;
      border-top-right-radius: 0px;
    }
  }
}

.break-reg {
  @include break-md {
    height: 336px;
    flex-direction: row;
  }
  @include break-lg {
    height: 445px;
  }

  .project-card-image {
    @include break-md {
      height: 100%;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 10px;
    }
  }
}

.project-card-image {
  height: 50%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.project-card-detail {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  @include break-md {
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;

    align-items: flex-start;
  }
}

.project-card-detail-title {
  @include text-size('3xl');
  @include mx($margin-xl);
  @include break-md {
    text-align: left;
  }
}
.project-card-detail-subtitle {
  @include text-size('base');
  @include mx($margin-xl);
  @include break-md {
    text-align: left;
  }
}
.project-card-button {
  cursor: pointer;
  @include mx($margin-xl);
}

.project-1 {
  background: url('/images/wwoman.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.project-2 {
  background: url('/images/black-coffee.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.project-3 {
  background: url('/images/simplediamond.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.project-4 {
  background: url('/images/engage.png');
  background-position: left;
  background-repeat: no-repeat;
  background-size: contain;
}
.project-5 {
  background: url('/images/white.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.project-6 {
  background: url('/images/garuBlue.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
