// Colors
$primary: #64748b;
$primary-dark: #334155;
$primary-darker: #0f172a;
$primary-light: #cbd5e1;
$primary-lighter: #f1f5f9;

$secondary: #8b5cf6;
$secondary-light: #a78bfa;
$secondary-lighter: #c4b5fd;
$secondary-dark: #7c3aed;
$secondary-darker: #6d28d9;

$accent: #10b981;
$accent-light: #34d399;
$accent-lighter: #6ee7b7;
$accent-dark: #059669;
$accent-darker: #047857;

// Margins
$margin-none: 0px;
$margin-sm: 0.5rem;
$margin-base: 1rem;
$margin-lg: 2rem;
$margin-xl: 4rem;

// Padding
$padding-none: 0px;
$padding-sm: 0.5rem;
$padding-base: 1rem;
$padding-lg: 2rem;
$padding-xl: 4rem;
