.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  line-height: 1.3;
}

.h1 {
  font-size: 3.052rem;
}

.h2 {
  font-size: 2.441rem;
}

.h3 {
  font-size: 1.953rem;
}

.h4 {
  font-size: 1.563rem;
}

.h5 {
  font-size: 1.25rem;
}

.h6 {
  font-size: 0.8rem;
}

html {
  font-size: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

a {
  text-decoration: none;
  color: inherit;
}

.root {
  background-color: #cbd5e1;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

.about {
  min-height: 50vh;
}

.about-container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

.button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  border-radius: 9999px;
  background-color: #8b5cf6;
  border-color: #8b5cf6;
  color: white;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.75rem;
  background-image: linear-gradient(to bottom right, #c4b5fd, #6d28d9);
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
}

.button:hover {
  background-image: linear-gradient(to bottom right, #a78bfa, #7c3aed);
}

.about-title {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
}
@media screen and (min-width: 640px) {
  .about-title {
    font-size: 3rem;
    line-height: 1;
  }
}
@media screen and (min-width: 768px) {
  .about-title {
    font-size: 4.5rem;
    line-height: 1;
  }
}

.about-icon-container {
  width: 100%;
  max-width: 768px;
  flex-wrap: wrap;
}

.about-icon {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 35%;
  text-align: center;
}
@media screen and (min-width: 640px) {
  .about-icon {
    width: 25%;
  }
}

.about-icon-image-container {
  border-radius: 9999px;
  width: 3rem;
  height: 3rem;
  padding: 0.75rem;
  background-image: linear-gradient(to bottom right, #34d399, #059669);
  margin-right: auto;
  margin-left: auto;
}

.about-icon-image {
  height: 2rem;
  width: auto;
  color: #cbd5e1;
}

.about-icon-title {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.about-icon-text {
  display: none;
}
@media screen and (min-width: 640px) {
  .about-icon-text {
    display: inherit;
  }
}
.el {
  height: 16px;
  width: 16px;
  background-color: green;
}

.b {
  border: 1px solid blue;
}

.big-z {
  background-color: #8b5cf6;
}
.big-z h1 {
  z-index: 3;
}

.z-3 {
  z-index: 3;
}

.z-2 {
  z-index: 2;
}

.z-1 {
  z-index: 1;
}

.morph {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  fill: #8b5cf6;
}

.box {
  border: 1px solid black;
}
.box div {
  border: 1px solid red;
}

.svg-wrap {
  flex-wrap: wrap;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.svg-wrap div {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.svg-box {
  width: 100px;
}

.test-div {
  height: 50px;
  width: 50px;
  background-color: #ce3;
  pointer-events: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wave-1 {
  background-image: url("/images/wave1.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.wave-2 {
  background-image: url("/images/wave2.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.wave-3 {
  background-image: url("/images/wave3.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.nav-container {
  width: 100%;
  height: 60px;
}

.nav-content {
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  height: 100%;
  max-width: 100%;
}

.nav-icon {
  color: #f1f5f9;
  cursor: pointer;
}
.nav-icon :hover {
  color: #cbd5e1;
}

.home-icon {
  height: 1rem;
  width: 1rem;
}

.nav-text {
  margin-right: 1rem;
  margin-left: 1rem;
}

.hero-container {
  width: 100%;
  font-size: 1.125rem;
  line-height: 1.75rem;
  height: calc(100vh - 60px);
}
.hero-container h1 {
  font-size: 4.5rem;
  line-height: 1;
  font-weight: 700;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 640px) {
  .hero-container h1 {
    font-size: 4.5rem;
    line-height: 1;
  }
}
@media screen and (min-width: 768px) {
  .hero-container h1 {
    font-size: 6rem;
    line-height: 1;
  }
}
@media screen and (min-width: 1024px) {
  .hero-container h1 {
    font-size: 6rem;
    line-height: 1;
  }
}

.hero-content {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
  justify-content: flex-start;
}
@media screen and (min-width: 640px) {
  .hero-content {
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .hero-content {
    justify-content: flex-end;
  }
}

.project-root {
  min-height: 100vh;
  width: 100%;
  background-color: #64748b;
}

.project-container {
  margin-right: auto;
  margin-left: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
}

.project-title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.project-card-container {
  background-color: #f1f5f9;
  margin-right: 1rem;
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  height: 520px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  .project-card-container {
    background-color: #10b981;
    height: 336px;
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .project-card-container {
    height: 445px;
  }
}

.project-card-image {
  height: 50%;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
@media screen and (min-width: 768px) {
  .project-card-image {
    height: 100%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 10px;
  }
}

.project-card-detail {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
@media screen and (min-width: 768px) {
  .project-card-detail {
    height: 100%;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
  }
}

.project-card-detail-title {
  font-size: 1.5rem;
  line-height: 2rem;
}

.project-card-detail-subtitle {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.action {
  text-align: center;
  height: 30%;
}

/* Flex */
.flex {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

/* Main Axis Alignment */
.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-evently {
  justify-content: space-evenly;
}

/* Cross Axis Alignment */
.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.items-baseline {
  align-items: baseline;
}

.items-stretch {
  align-items: stretch;
}

.flex-1 {
  flex: 1 1 0%;
}

.flex-auto {
  flex: 1 1 auto;
}

.flex-initial {
  flex: 0 1 auto;
}

.flex-none {
  flex: none;
}

.flex-grow {
  flex-grow: 1;
}

/* Height and Width */
.h-20 {
  height: 20%;
}

.h-40 {
  height: 40%;
}

.h-60 {
  height: 60%;
}

.h-80 {
  height: 80%;
}

.h-100 {
  height: 100%;
}

.h-auto {
  height: auto;
}

.h-screen {
  height: 100vh;
}

.w-20 {
  width: 20%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 60%;
}

.w-80 {
  width: 80%;
}

.w-100 {
  width: 100%;
}

.w-auto {
  width: auto;
}

.w-screen {
  width: 100vh;
}

.min-h-screen {
  min-height: 100vh;
}

.min-h-100 {
  min-height: 100%;
}

.min-h-0 {
  min-height: 0px;
}

.min-w-100 {
  min-width: 100%;
}

.min-w-0 {
  min-width: 0px;
}

.min-w-content {
  min-width: min-content;
}

/* Background Color */
.bg-current {
  background-color: currentColor;
}

.bg-transparent {
  background-color: transparent;
}

.bg-primary {
  background-color: #64748b;
}

.bg-secondary {
  background-color: #8b5cf6;
}

.bg-accent {
  background-color: #10b981;
}

/* MEDIA CONTAINER*/
@media screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/*# sourceMappingURL=main.css.map */
