/* Global */
.root {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  letter-spacing: .1em;
  color: white;
}
/* Header */
.top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0,0,0,.8);
  width: 100vw;
  min-height: 8em;
  text-align: center;
}
.top-sub {
  padding: 0.5em;
  margin: 0.5em;
  color: rgba(255,255,255,0.87);
}
.link {
  margin: .2em;
}
/* Pages Global */
.sector {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  width: 100vw;
  height: 100vh;
}

/* Page One */
.sector.one {
  width: 100vw;
  height: calc(100vh - 8em);
  background-image: linear-gradient(to right, #4FACFE 0%, #00F2FE 100%);  
  
}
.sector.one.layer{
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: calc(12px + 2vmin);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
 
}
/* Page Two */
.sector.two {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  /* background-image: url('/images/flick.jpg'); */
  background-position: center;
  background-size: cover;
  color: black;
}
.two.text {
  margin: 0.5em;
  padding: 0.5em;
  letter-spacing: .1em;
  font-size: calc(12px + 2vmin);
  font-weight: 400;
  color: white;
  visibility: visible;
  z-index: 2;
}
.title {
  text-transform: uppercase;
  transition: all .2s ease-in-out; 
  font-weight: 500;
}
.title:hover {
  transform: scale(1.3);
}
.title-dark{
  width: 100%;
  height: 2em;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin: 2em .5em .5em .5em;
  padding: .5em;
  cursor: default;
}

a {
  color: inherit; 
  text-decoration: inherit; 
}
/* Page Three */
.sector.three {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to right, #4FACFE 0%, #00F2FE 100%); 
  height: 400vh;

}
@media screen and (max-width:840px){
  .sector.three {
    height: 800vh;
  }
}
@media screen and (max-width:860px){
  .sector.four {
    min-height: 200vh;
  }
}
.three.text {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  width: 30vw;
  min-width: 400px;
}
.card {
  margin: .5em;
  padding: .5em;
  text-align: center;
}
.card-info {
  text-transform: uppercase;
  font-size: calc(10px + 2vmin);
  font-weight: 400;
  letter-spacing: .1em;
}
.box {
  border: 2px solid black;
  margin: .5em;
}
.music {
  background-image: url('/images/music/discovery.jpg');
  background-position: center;
  background-size: cover;
}
.music-2 {
  background-image: url('/images/music/unknownpleasures.jpg');
  background-position: center;
  background-size: cover;
}
.book {
  background-image: url('/images/books/wildsheep.jpg');
  background-position: center;
  background-size: cover;
}
.book-2 {
  background-image: url('/images/books/dune.png');
  background-position: center;
  background-size: cover;
}
.thriller {
  background-image: url('/images/thrillers/enemy.jpg');
  background-position: center;
  background-size: cover;
}
.thriller-2 {
  background-image: url('/images/thrillers/witch.jpg');
  background-position: center;
  background-size: cover;
}
.game {
  background-image: url('/images/games/rusviet.jpg');
  background-size: cover;
}
.game-2 {
  background-image: url('/images/games/ds.jpg');
  background-position: center;
  background-size: cover;
}
.box {
  position:relative;
}
.box:after {
  content:'\A';
  position:absolute;
  width:100%; height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.6);
  opacity:0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  z-index: 1;
}
.box:hover:after {
  opacity:1;
}
.card-info .card-title{
  transition: all .2s ease-in-out; 
  font-weight: 500;
}
.card-info:hover {
  transition: all .2s ease-in-out; 
  transform: scale(1.3);
}
.card {
  visibility: hidden;
}
.box:hover .card {
  visibility: visible;
  z-index: 2;
}
.container {
  position:relative;
}
.container:after {
  content:'\A';
  position:absolute;
  width:100%; height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.6);
  opacity:1;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  z-index: 1;
}


/* Page Four */
.x{
  border: 2px solid black;
}
.sector.four {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to right, #4FACFE 0%, #00F2FE 100%);
  text-align: center;
  height: 100vh;
}
.project-title {
  width: 40vw;
  margin: .5em;
  padding: .5em;
}
.page-title {
  width: 80vw;
  margin: .5em;
  padding: .5em;
  text-transform: uppercase;
}
.project-card {
  width: 40vw;
  height: 60vh;
  min-width: 400px;
  margin: .5em;
}
.project-image {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.solo {
  background-image: url('/images/chemex.jpg');
  background-position: center;
  background-size: cover;
}
.project-card {
  position:relative;
}
.project-card:after {
  content:'\A';
  position:absolute;
  width:100%; height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.6);
  opacity:0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  z-index: 1;
}
.project-card:hover:after {
  opacity:1;
}
.solo-text {
  transition: all .2s ease-in-out; 
  font-weight: 500;
}
.solo-text:hover {
  transition: all .2s ease-in-out; 
  transform: scale(1.3);
}
.solo-text {
  visibility: hidden;
}
.project-card:hover .solo-text {
  visibility: visible;
  z-index: 2;
}
.group {
  background-image: url('/images/soon.jpg');
  background-position: center;
  background-size: cover;

}
.base {
  width: 80vw;
}

/* Page Five */
.sector.five {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #4FACFE 0%, #00F2FE 100%); 
  text-align: center; 
}
.fat-div {
  width: 90vw;
  margin: .5em;
  padding: .5;
}
.icons {
  width: 30vw
}