/* Global */
.root {
  background-color: white;
  font-size: 24px;
  /* letter-spacing: .1em; */
  color: white;
  background: #fafafa;
}
/* Header */
.top {
  /* background-color: rgba(0,0,0,.8); */
  background: #fafafa;
  width: 100%;
  height: 85px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,0.2);
  z-index: 2;
}
.top-sub {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #09a6f3;
  /* font-weight: 300; */
  height: 100%;
  width: calc(100% - 48px);
}
.margin-20{
  margin-left: 20px;
}

/* Page One */
.page-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 85px);
  min-height: 740px;
  margin-top: 85px;
  /* max-width: 1440px;  */
}
.layer{
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #0d91f1 0%, #07c8F9 100%); 
  width: 100%;
  height: 100%;
  max-width: 1140px;
}
.wide-l {
  margin-left: 24px;
  text-align: left;
}
.wide-r {
  margin-right: 24px;
  text-align: right;
}
/* Page Two */
.sector.two {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-position: center;
  background-size: cover;
  color: black;
  min-height: 740px;
  width: 100vw;
  max-width: 1440px;
  
}
.two.text {
  margin: 0.5em;
  padding: 0.5em;
  letter-spacing: .1em;
  font-size: calc(12px + 2vmin);
  font-weight: 400;
  color: white;
  visibility: visible;
  z-index: 2;
}
.title {
  text-transform: uppercase;
  transition: all .2s ease-in-out; 
}

.title-dark{
  width: 100%;
  height: 2em;
  color: white;
  text-align: center;
  text-transform: uppercase;
  margin: 2em .5em .5em .5em;
  padding: .5em;
  cursor: default;
}

a {
  color: inherit; 
  text-decoration: inherit; 
}
/* Page Three */
.page-three {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media screen and (max-width: 700px){
  /* .project-card {
    min-width: 400px;
  } */
  .page-title {
    text-align: center;
  }
  #layer-two {
    display: flex;
    flex-direction: column;

  }
}
@media screen and (max-width:840px){
  .layer{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .wide-l {
    text-align: center;
  }
  .wide-r {
    text-align: center;
  }
}
@media screen and (min-width:841px){
  #override {
    text-align: left;
    margin-left: 24px;
  }
  
}

.three.text {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.card {
  text-align: center;
}
.card-info {
  text-transform: uppercase;
  font-size: calc(10px + 2vmin);
}
.box {
  border: 2px solid black;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 24px;
  width: 300px;
  height: 400px;
  flex-grow: 1;
}
.music {
  background-image: url('/images/music/discovery.jpg');
  background-position: center;
  background-size: cover;
}
.music-2 {
  background-image: url('/images/music/unknownpleasures.jpg');
  background-position: center;
  background-size: cover;
}
.book {
  background-image: url('/images/books/wildsheep.jpg');
  background-position: center;
  background-size: cover;
}
.book-2 {
  background-image: url('/images/books/dune.png');
  background-position: center;
  background-size: cover;
}
.thriller {
  background-image: url('/images/thrillers/enemy.jpg');
  background-position: center;
  background-size: cover;
}
.thriller-2 {
  background-image: url('/images/thrillers/witch.jpg');
  background-position: center;
  background-size: cover;
}
.game {
  background-image: url('/images/games/rusviet.jpg');
  background-size: cover;
}
.game-2 {
  background-image: url('/images/games/ds.jpg');
  background-position: center;
  background-size: cover;
}
.ultimate {
  background-image: url('/images/snowflake.jpg');
  background-size: cover;
  background-position: center;
}
.box {
  position:relative;
}
.box:after {
  content:'\A';
  position:absolute;
  width:100%; height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.6);
  opacity:0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  z-index: 1;
}
.box:hover:after {
  opacity:1;
}
.card-info .card-title{
  transition: all .2s ease-in-out; 
  font-weight: 500;
}
.card-info:hover {
  transition: all .2s ease-in-out; 
  transform: scale(1.3);
}
.card {
  visibility: hidden;
}
.box:hover .card {
  visibility: visible;
  z-index: 2;
}
.container {
  position:relative;
  z-index: 0;
}
.container:after {
  content:'\A';
  position: absolute;
  top:0; 
  left: 0;
  right: 0;
  background:rgba(0,0,0,0.6);
  opacity:1;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  z-index: 1;
}


/* Page Four */
.x{
  border: 2px solid black;
}
.page-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 100%;
  height: 100%;
}
.layer-two {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(to right, #0d91f1 0%, #07c8F9 100%); 
  width: 100%;
  height: 100%;
  min-height: 600px;
  max-width: 1140px;
}


.page-title {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 48px;
}
.project-card {
  width: 300px;
  flex-grow: 1;
  height: 400px;
  margin-top: 12px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 12px;
}
.project-image {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-pic {
  width: 225px;
  height: 300px;
  border-radius: 50%;
  /* border: 2px solid white; */
  background-image: url('/images/profile.jpg');
  background-position: center;
  background-size: cover;
}

.solo {
  background-image: url('/images/chemex.jpg');
  background-position: center;
  background-size: cover;
}
.theme {
  background-image: url('/images/colors.webp');
  background-position: center;
  background-size: cover;
}
.scythe {
  background-image: url('/images/bidder.jpg');
  background-position: center;
  background-size: cover;
}
.project-card {
  position:relative;
}
.project-card:after {
  content:'\A';
  position:absolute;
  width:100%; height:100%;
  top:0; left:0;
  background:rgba(0,0,0,0.6);
  opacity:0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  z-index: 1;
}
.project-card:hover:after {
  opacity:1;
}
.solo-text {
  transition: all .2s ease-in-out; 
  font-weight: 500;
}
.solo-text:hover {
  transition: all .2s ease-in-out; 
  transform: scale(1.3);
}
.solo-text {
  visibility: hidden;
}
.project-card:hover .solo-text {
  visibility: visible;
  z-index: 2;
}
.group {
  background-image: url('/images/sparkle.png');
  background-position: center;
  background-size: cover;

}


/* Page Five */
.page-five {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;  
  width: 100%;
  height: 100%;
}
.fat-div {
  width: 100%;
  height: 100%;
  margin-top: 48px;
  margin-bottom: 24px;
}
.icons {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 48px;
  margin-top: 24px;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: 100%;
  max-width: 1140px;
  background-image: linear-gradient(to right, #0d91f1 0%, #07c8F9 100%);
}
