@use './partials' as *;

.root {
  background-color: $primary-light;
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}
.about {
  min-height: 50vh;
}
.about-container {
  @include mx(auto);
  width: 100%;
}
.button {
  @include py(0.5rem);
  @include px(1.5rem);
  border-radius: 9999px;
  background-color: $secondary;
  border-color: $secondary;
  color: white;
  font-weight: 400;
  @include text-size(lg);
}
.button:hover {
  background-color: $secondary-dark;
}

.about-title {
  @include py($padding-base);
  @include text-size('3xl');
  @include break-sm {
    @include text-size('5xl');
  }
  @include break-md {
    @include text-size('6xl');
  }
}
.about-icon-container {
  width: 100%;
  max-width: 768px;
  flex-wrap: wrap;
}
.about-icon {
  @include mx($margin-base);
  @include my($margin-base);
  width: 35%;
  border: 1px solid red;
  text-align: center;
  @include break-sm() {
    width: 25%;
  }
}
.about-icon-image-container {
  border-radius: 9999px;
  width: 3rem;
  height: 3rem;
  padding: 0.75rem;
  @include gradient(bottom right, $primary-light, $primary-dark);
  @include mx(auto);
}
.about-icon-image {
  height: 2rem;
  width: auto;
  color: $primary-light;
}
.about-icon-title {
  @include py($padding-base);
  div {
  }
}
.about-icon-text {
  display: none;
  @include break-sm {
    display: inherit;
  }
  div {
  }
}
.el {
  height: 16px;
  width: 16px;
  background-color: green;
}

.b {
  border: 1px solid blue;
}
.big-z {
  h1 {
    z-index: 3;
  }
  background-color: $secondary;
}
.z-3 {
  z-index: 3;
}
.z-2 {
  z-index: 2;
}
.z-1 {
  z-index: 1;
}

.morph {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  fill: $secondary;
}

.box {
  border: 1px solid black;
  div {
    border: 1px solid red;
  }
}

.svg-wrap {
  flex-wrap: wrap;
  width: 100%;
  @include mx(auto);
  div {
    @include px($padding-base);
    @include py($padding-base);
  }
}
.svg-box {
  width: 100px;

  :hover {
    .svg-path {
      fill: $accent;
    }
    .svg-path-2 {
      fill: $primary-dark;
    }
  }
}

.svg-path {
  fill: $primary-darker;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif, ui-sans-serif, system-ui,
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.wave-1 {
  background-image: url('/images/wave1.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.wave-2 {
  background-image: url('/images/wave2.svg');
  background-position: top;
  background-repeat: no-repeat;
  background-size: auto 100%;
}
.wave-3 {
  background-image: url('/images/wave3.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.nav-container {
  width: 100%;
  height: 60px;
}
.nav-content {
  @include mx(auto);
  @include px($padding-base);
  height: 100%;
  max-width: 100%;
}

.hero-container {
  width: 100%;

  @include text-size('lg');
  h1 {
    @include text-size('5xl');
    font-weight: 700;
    @include py($padding-base);
    @include my($margin-base);
  }
  height: calc(100vh - 60px);

  @include break-sm {
    h1 {
      @include text-size('6xl');
    }
  }
  @include break-md {
    h1 {
      @include text-size('7xl');
    }
  }
  @include break-lg {
    h1 {
      @include text-size('8xl');
    }
  }
}
.hero-content {
  @include my($margin-base);
  @include mx(auto);
  @include px($padding-base);
}
.action {
  text-align: center;
  height: 30%;
}

/* Flex */

.flex {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}

/* Main Axis Alignment */

.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evently {
  justify-content: space-evenly;
}

/* Cross Axis Alignment */

.items-start {
  align-items: flex-start;
}
.items-end {
  align-items: flex-end;
}
.items-center {
  align-items: center;
}
.items-baseline {
  align-items: baseline;
}
.items-stretch {
  align-items: stretch;
}

.flex-1 {
  flex: 1 1 0%;
}
.flex-auto {
  flex: 1 1 auto;
}
.flex-initial {
  flex: 0 1 auto;
}
.flex-none {
  flex: none;
}
.flex-grow {
  flex-grow: 1;
}

/* Height and Width */

.h-20 {
  height: 20%;
}
.h-40 {
  height: 40%;
}
.h-60 {
  height: 60%;
}
.h-80 {
  height: 80%;
}
.h-100 {
  height: 100%;
}
.h-auto {
  height: auto;
}
.h-screen {
  height: 100vh;
}
.w-20 {
  width: 20%;
}
.w-40 {
  width: 40%;
}
.w-60 {
  width: 60%;
}
.w-80 {
  width: 80%;
}
.w-100 {
  width: 100%;
}
.w-auto {
  width: auto;
}
.w-screen {
  width: 100vh;
}

.min-h-screen {
  min-height: 100vh;
}
.min-h-100 {
  min-height: 100%;
}
.min-h-0 {
  min-height: 0px;
}
.min-w-100 {
  min-width: 100%;
}
.min-w-0 {
  min-width: 0px;
}
.min-w-content {
  min-width: min-content;
}

/* Background Color */

.bg-current {
  background-color: currentColor;
}
.bg-transparent {
  background-color: transparent;
}

.bg-primary {
  background-color: $primary;
}
.bg-secondary {
  background-color: $secondary;
}
.bg-accent {
  background-color: $accent;
}

/* MEDIA CONTAINER*/

@media screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}
